@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --white: #ffff;
    --black: #0000;
    --text-color: #333;
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    position: relative;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--white);
    position: sticky;
    top:0;
    z-index: 15;    
}

/* Header top css */
.header-top {
    /* background-color: #FF9999; */
    height: 30px;
    width: 100%;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-top-left{
    margin-left: 20px;
}
.header-top-right{
    margin-right: 20px;
}

.header-top-list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-top-list a {
    color: var(--text-color);
    font-size: 16px;
}
.header-top-list span{
    font-size: 16px;
}

.header-top-list a i {
    margin-right: 5px;
}
.header-top-list a:hover{
    border-bottom: solid 3px #DD0000;
}
.header-top-list i {
    font-size: 1.6rem;
}
.header-top-list i:hover {
  cursor: pointer;
}

/* Header Middle */
.header-middle{
    margin-top: 60px;
    box-shadow: inset 0px -0.5px 0px #e6e6e6;
    text-align: center;
}

.header-middle .container {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nameshop {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}
/* Định dạng thanh tìm kiếm nâng cao */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

#search-input {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 400px;
    margin-right: 10px;
}

#search-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#advanced-search-options {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
}

#advanced-search-options select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header-middle-left{
    font-size: 36px;
    margin-top: -50px;
}

.header-middle-center{
}

.header-middle-right{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-right: 20px;
}
.header-middle-right button{
    padding: 5px 5px;
    font-size: 20px;
    border: none;
    background-color: var(--white);
}
.header-middle-right button:hover{
    cursor: pointer;
    border-bottom: solid 3px #DD0000;
}
.menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 5px 0;
}
.menu-list-item{
    font-size: 22px;
    padding: 0 5px;
}




